$font-family: 'Poppins', -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0
}

body {
  font-family: $font-family;
  background-color: var(--background);
  color: var(--text-color);

  --primary-color: #fdfdfd;
  --primary-text-color: rgb(64, 64, 64);
  --featured-bg: #fdfdfd;
  --featured-text: #fff;
  --background: #fdfdfd;
  --site-header: var(--background);
  --icon-bg: #fafafa;
  --card-bg: #f5f5f5;
  --card-bgr: #d5d5d5;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #fdfdfd;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: rgb(7, 8, 5);
  --contact-bg: #fdfdfd;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
}

a[target="_blank"] {
  padding-right: 0.4rem;

  &::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./svg/link_icon.svg) no-repeat 0 0;
    background-size: 20px 20px;
    content: " ";
    position: relative;
    top: 0.15rem;
    left: 0.15rem;
  }
}

.site-wrapper {
  padding: 20px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  img {
    max-width: 100%;
  }
}
.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;
  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    &[aria-current] {
      color: var(--primary-text-color);
      font-weight: 700;
    }
    &:hover {
      color: var(--primary-text-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background: var(--site-header);
  margin-bottom: 5px;
  align-items: center;
}

.site-title a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 28px;
  letter-spacing: -0.05em;
  font-weight: 900;
  text-transform: uppercase;
}
.hero-header {
  padding: 0 0 64px;
  max-width: 980px;
}
.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.button {
  padding: 18px 27px;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 9px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.8;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
    h1 {
      margin: 50px 0px 20px;
      padding: 0.5em 0;
      border-top: solid 3px;
      border-bottom: solid 3px;
    }

    h2 {
      margin: 40px 0px 20px;
      border-bottom: solid 3px;
    }

    h3 {
      margin: 30px 0px 20px;
      padding: 0.25em 0.5em;
      border-left: solid 5px;
    }
    a {
      color: var(--primary-text-color);
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 15px;
    }
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
}



.post-thumbnail {
  text-align: center;
  min-height: 120px;
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .post-icon {
    position: absolute;
    font-size: 8rem;
    padding: 30px 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  > .post-title {
    color: var(--primary-text-color);
    position: relative;
    z-index: 3;
  }
  > .post-meta {
    position: relative;
    z-index: 3;
    color: var(--primary-text-color);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.card-link {
  color: var(--text-color);
  text-decoration: none;
}

.card-link:hover {
  text-decoration: none;
}


.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  border-radius: 9px;
  border: 1px solid var(--card-bg);
  min-height: 130px;
  overflow: hidden;
  line-height: 1.5;
  padding: 16px;
  margin: 8px;
  &:hover {
    border: 1px solid var(--card-bgr);
  }
  > a img {
    display: block;
  }
  > header {
    padding: 0px;
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-icon {
    min-width: 66px;
    height: 66px;
    font-size: 46px;
    background-color: var(--icon-bg);
    border-radius: 30px;
    padding: 8px;
    text-align: center;
  }
  .post-title{
    font-size: 1.2rem;
    margin: 0.5rem;
    color: var(--text-color);
    text-decoration: none;
  }
  .post-meta {
    font-weight: 100;
    text-align: center;
    margin-bottom: 0;
  }
}
.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}
.site-footer {
  text-align: center;
  margin-top: 16px;
  color: #666;
  a {
    font-weight: 300;
    color: var(--text-color);
    text-decoration: none;
  }
  a :hover {
    text-decoration: none;
  }
}
.footer-links {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
.footer-link {
  min-width: 50px;
}

.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen 
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr;
}
}
@media only screen 
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }

.card {
  flex-direction: row;
  justify-content: space-between;

  >header {
    padding: 0px;
    width: 400px;
  }
}

}

// Table of Contents
.table-of-content {
  max-width: 768px;
  margin: 1rem auto;
  border-top: solid 1px;
  border-bottom: solid 1px;

  p {
    margin-bottom: 0px;
  }

  ul, ol {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.1em 0 0 1.0em;
  }

  ul li, ol li {
    line-height: 1;
    padding: 0.1em 0 0.5em;
    list-style-type: none !important;
  }
}

// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

// sns share icon
.share {
  text-align: center;
  margin: 70px 0 0;
}
.share_icon {
  display: inline-block;
  margin: 10px 10px;
  color: #666;
}

// Google Adsense
.GoogleAds {
  text-align: center;
  margin: 30px auto 30px;
}
.adslot-inline {
  width: 320px;
  height: 100px;
}

@media(min-width: 768px) {
  .adslot-inline {
    width: 728px;
    height: 90px;
  }
}

// tag Link
.tags {
  text-align: center;
  margin: 20px auto;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
  }

  ul li a {
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 1em;
    background-color: #fafafa;
    border: 1px solid #d5d5d5;
    border-radius: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--primary-text-color);
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
  }

  ul li a:hover {
    background-color: #d5d5d5;
    border: 1px solid #d5d5d5;
  }
}

.tag-contents {
  flex: 1;
}
